<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sudchiamanord.schoolmgr" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.KidInfoActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.CaptureImageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ConfigActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.DownloadActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.RegisterUserActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.SearchResultActivity"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".activities.AdoptionsListActivity"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".activities.AdoptionInfoActivity"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".activities.BackupActivity"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".activities.LoadActivity"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".activities.PhotoPreviewActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".activities.DeleteKidInfoActivity"
            android:label="@string/app_name">
        </activity>

        <provider
            android:name=".provider.DBProvider"
            android:authorities="com.sudchiamanord.schoolmgr.provider"
            android:exported="false" />

    </application>

</manifest>
